<div class="center">
<h3>Friend</h3>
<b class="head">My Friends List</b>
<table >
  <tr>
    <th>First-name</th>
    <th>Last-name</th>
    <th>Nick-name</th>
    <th>Github Page</th>
  </tr>
  <tr>
    <td>Thanaporn</td>
    <td>Sae pueng</td>
    <td>ploy</td>
    <td><nav>
      <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-Thanaporn1501/lab.html">Lab 02</a>
      <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-Thanaporn1501/lab.html">Lab 03</a>
      <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-Thanaporn1501/">Lab 04</a>

      </nav></td>
  </tr>
  <tr>
    <td>Komchan</td>
    <td>Thongsen</td>
    <td>keem</td>
    <td><nav>
      <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-keemdedone/dom-simple06">Lab 02</a>
      <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-keemdedone/dom-simple06">Lab 03</a>
      <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-keemdedone/">Lab 04</a>

      </nav></td>
  </tr>
</table>
</div>
