<div class="center">
<h1>Status</h1>
<div class="input">
<table >
  <tr>
    <td><b>Current Time</b></td>
    <td><span class="bdbda">::</span></td>
    <td>{{ time }}</td>
  </tr>
  <tr>
    <td><b>Vendor</b></td>
    <td><span class="bdbda">::</span></td>
    <td>{{ VD }}</td>
  </tr>
  <tr>
    <td><b>User Agent</b></td>
    <td><span class="bdbda">::</span></td>
    <td>{{ UA }}</td>
  </tr>
  <tr>
    <td><b>Languages</b></td>
    <td><span class="bdbda">::</span></td>
    <td>{{ lang }}</td>
  </tr>
  <tr>
    <td><b>Is Cookie Enabled?</b></td>
    <td><span class="bdbda">::</span></td>
    <td>{{ Cook }}</td>
  </tr>
  <tr>
    <td><b>Logical Processors</b></td>
    <td><span class="bdbda">::</span></td>
    <td>{{ hw }}</td>
  </tr>
  <tr>
    <td><b>Max Touch Points</b></td>
    <td><span class="bdbda">::</span></td>
    <td>{{ MTP }}</td>
  </tr>
</table>
</div>
</div>
