.bdbda {
  font-weight: bold;
  color: blue;
  content: '::';
  margin-left: 0.5ch;
  margin-right: 0.5ch;
}

.cmp-input-no {
  display: inline-block;
  width: 2ch;
}

.center {
  width: 700px;
    margin: auto;
}
