<div class="center">
<h2>My Profile</h2>
<h3>Basic information</h3>
<div class="litext">
  <li><b>Name:  </b>Sukrit Noppakhun</li>
<li><b>Gender:  </b>Male</li>
<li><b>Age:  </b>20</li>
</div>


<h3>Autobiography</h3>

<p>My name is Sukrit Noppakhun and I was born on the 8th March , 2001 in Chaing Mai,
  Thailand. </p>

  <h3>Github Page</h3>
  <nav>
    <a href="https://camt-mmit.github.io/2021_02-954447-001-lab02-javascript-and-dom-Noppakhun230/dom-assignment.html">Lab 02</a>
    <a href="https://camt-mmit.github.io/2021_02-954447-001-lab03-typescript-Thanaporn1501/lab.html">Lab 03</a>
    <a href="https://camt-mmit.github.io/2021_02-954447-001-lab-angular-01-Thanaporn1501/">Lab 04</a>

    </nav>
</div>
